.gridfolio[data-theme="warhol"] .gridfolio--block-content {
  padding: 30px;
}

.gridfolio[data-theme="warhol"] .gridfolio--block-title-wrapper {
  font-size: 45px;
  margin-bottom: 20px;
}

.gridfolio[data-theme="warhol"] .gridfolio--block-title {
  font-family: 'Arial', sans-serif;
  letter-spacing: 0.06em;
}

.gridfolio[data-theme="warhol"] .gridfolio--block-content:hover .gridfolio--block-title {
  display: inline;
  background: #000;
  box-shadow: 10px 0 0 #000, -10px 0 0 #000;
}

.gridfolio[data-theme="warhol"] .gridfolio--block-description-wrapper {
  font-size: 9px;
}

.gridfolio[data-theme="warhol"] .gridfolio--block-description {
  font-weight: 100;
  letter-spacing: 0.03em;
  line-height: 1.6;
}

.gridfolio[data-theme="warhol"] .gridfolio--block-tags-wrapper {
  font-size: 7px;
  letter-spacing: 0.2em;
  text-align: right;
}

.gridfolio[data-theme="warhol"] .gridfolio--block-tags span {
  font-weight: 600;
  background-color: transparent;
  border-bottom: 2px solid #fff;
}

@media (min-width: 500px) {
  .gridfolio[data-theme="warhol"] .gridfolio--block-title-wrapper {
    font-size: 20px;
  }
}

@media (min-width: 900px) {
  .gridfolio[data-theme="warhol"] .gridfolio--block-title-wrapper {
    font-size: 45px;
  }
}
